<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/shiro-2/src/com/study/shiro/realms/SecondRealm.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="com.study.shiro.realms.SecondRealm"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="shiro-2"/>
</launchConfiguration>
